<div class="text-center mb-5 mt-3" *ngIf="pagination">
    <p>showing items {{ (current - 1) * size + 1 }} - {{ (current === last && total) ? total : current * size }} of {{ total }}</p>
    <div class="btn-group">
        <button class="btn btn-dark" [disabled]="current === 1" (click)="onSelectPage(1)">&laquo;</button>
        <button class="btn btn-dark" [disabled]="current === 1" (click)="onSelectPage(prev)">&lt;</button>
        <button class="btn btn-dark" disabled>page {{ current }} / {{ last }}</button>
        <button class="btn btn-dark" [disabled]="current === last" (click)="onSelectPage(next)">&gt;</button>
        <button class="btn btn-dark" [disabled]="current === last" (click)="onSelectPage(last)">&raquo;</button>
    </div>
</div>