<div *ngIf="item$ | async as item; else loading">

    <section>
        <div class="text-center mt-3"><img alt="book" src="/assets/character.png" width="100px" /></div>
        <h2 class="text-center mt-3">{{ item.name || item.aliases.join(", ") }}</h2>
        <p class="text-center mb-5">{{ item.aliases.join(', ') }}</p>

        <hr class="mb-4">

        <!-- CHARACTER DATA LIST -->
        <div class="row">
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Gender</dt>
                    <dd>{{ item.gender || '-' }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Culture</dt>
                    <dd>{{ item.culture || '-' }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Born</dt>
                    <dd>{{ item.born || '-' }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Died</dt>
                    <dd>{{ item.died || '-' }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Played by</dt>
                    <dd>{{ item.playedBy.join(', ') || '-' }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Tv Series</dt>
                    <dd>{{ item.tvSeries.join(', ') || '-' }}</dd>
                </dl>
            </div>
        </div>
    </section>
    
    <hr class="mt-3">

    <section class="mt-5" *ngIf="item.spouse || item.father || item.mother">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-4 col-lg-2" *ngIf="item.spouse">
                <h5 class="text-center">Spouse</h5>
                <app-item-card [url]="item.spouse"></app-item-card>
                <p>{{ item.spouse }}</p>
            </div>
            <div class="col-sm-4 col-lg-2" *ngIf="item.father">
                <h5 class="text-center">Father</h5>
                <app-item-card [url]="item.father"></app-item-card>
            </div>
            <div class="col-sm-4 col-lg-2" *ngIf="item.mother">
                <h5 class="text-center">Mother</h5>
                <app-item-card [url]="item.mother"></app-item-card>
            </div>
        </div>
        <hr class="mt-5">
    </section>
    

    <section class="mt-5">
        <h3 class="text-center"> <i class="bi bi-shield-shaded"></i> Allegiances ({{ item.allegiances?.length || '-' }})</h3>
        <app-item-list [pageSize]="6" [urls]="item.allegiances"></app-item-list>
        <hr class="mt-5">
    </section>


    <section class="mt-5">
        <h3 class="text-center"> <i class="bi bi-book"></i> Books ({{ item.books?.length || '-' }})</h3>
        <app-item-list [pageSize]="6" [urls]="item.books"></app-item-list>
        <hr class="mt-5">
    </section>

</div>

<ng-template #loading>
    <div class="text-center mt-5 mb-1">
        <i class="bi bi-emoji-dizzy-fill fs-pire-gros animation-rotate mb-1"></i>
        <p>Loading...</p>
    </div>
</ng-template>
