<div *ngIf="item$ | async as item; else loading">

    <section>
        <div class="text-center mt-3"><img alt="book" src="/assets/house.png" width="100px" /></div>
        <h2 class="text-center mt-3">{{ item.name }}</h2>
        <p class="text-center mb-5">{{ item.region }}</p>

        <hr class="mb-4">

        <!-- CHARACTER DATA LIST -->
        <div class="row">
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Founded</dt>
                    <dd>{{ item.founded || '-' }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Founder</dt>
                    <dd>{{ item.founder || '-' }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Died out</dt>
                    <dd>{{ item.diedOut || '-' }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Ancestral weapons</dt>
                    <dd>{{ item.ancestralWeapons.join(', ') || '-' }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Titles</dt>
                    <dd>{{ item.titles.join(', ') || '-' }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Seats</dt>
                    <dd>{{ item.seats.join(', ') || '-' }}</dd>
                </dl>
            </div>
            <div class="col-sm-12 col-lg-12">
                <dl>
                    <dt>Coat of arms</dt>
                    <dd>{{ item.coatOfArms || '-' }}</dd>
                </dl>
            </div>
        </div>
    </section>

    <hr class="mt-3">

    <section class="mt-5" *ngIf="item.overlord || item.currentLord || item.heir">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-4 col-lg-2" *ngIf="item.overlord">
                <h5 class="text-center">Overlord</h5>
                <app-item-card [url]="item.overlord"></app-item-card>
            </div>
            <div class="col-sm-4 col-lg-2" *ngIf="item.currentLord">
                <h5 class="text-center">Current lord</h5>
                <app-item-card [url]="item.currentLord"></app-item-card>
            </div>
            <div class="col-sm-4 col-lg-2" *ngIf="item.heir">
                <h5 class="text-center">Heir</h5>
                <app-item-card [url]="item.heir"></app-item-card>
            </div>
        </div>
        <hr class="mt-5">
    </section>

    <section class="mt-5">
        <h3 class="text-center"> <i class="bi bi-file-person"></i> Sworn members ({{ item.swornMembers?.length || '-' }})</h3>
        <app-item-list [pageSize]="6" [urls]="item.swornMembers"></app-item-list>
        <hr class="mt-5">
    </section>


    <section class="mt-5">
        <h3 class="text-center"> <i class="bi bi-shield-shaded"></i> Cadet branches ({{ item.cadetBranches?.length || '-' }})</h3>
        <app-item-list [pageSize]="6" [urls]="item.cadetBranches"></app-item-list>
        <hr class="mt-5">
    </section>

</div>

<ng-template #loading>
    <div class="text-center mt-5 mb-1">
        <i class="bi bi-emoji-dizzy-fill fs-pire-gros animation-rotate mb-1"></i>
        <p>Loading...</p>
    </div>
</ng-template>
