<fieldset>
    <h3>Search</h3>

    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="mb-3 row">
                <label for="inputName" class="col-sm-4 col-form-label">Book title</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="inputName" id="inputName" [(ngModel)]="params['name']">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="inputAfter" class="col-sm-4 col-form-label">Release date</label>
                <div class="col-sm-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">from</span>
                        <input type="date" class="form-control" name="inputAfter" id="inputAfter" [(ngModel)]="params['fromReleaseDate']">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">to</span>
                        <input type="date" class="form-control" name="inputBefore" id="inputBefore" [(ngModel)]="params['toReleaseDate']">
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="button" (click)="onSearch()">search</button>
            <button class="btn btn-secondary ms-3" type="button" (click)="onReset()">reset</button>
        </div>
    </div>
</fieldset>