<h2 class="text-center mt-3">Home</h2>

<div class="row mt-3 g-5">
    <div class="col-lg-4">
        <div class="card border-secondary">
            <div class="card-header">
                <img src="/assets/character.png" class="card-category" alt="characters">
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Characters</h5>
                <div class="text-center">
                    <button class="btn btn-primary" [routerLink]="['/characters']">View all</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-secondary bg-book">
            <div class="card-header">
                <img src="/assets/book.png" class="card-category" alt="books">
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Books</h5>
                <div class="text-center">
                    <button class="btn btn-primary" [routerLink]="['/books']">View all</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-secondary">
            <div class="card-header">
                <img src="/assets/house.png" class="card-category" alt="houses">
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">Houses</h5>
                <div class="text-center">
                    <button class="btn btn-primary" [routerLink]="['/houses']">View all</button>
                </div>
            </div>
        </div>
    </div>
</div>