<ng-container *ngIf="urls?.length; else nodata">
    <app-pagination
        [pagination]="pag$ | async"
        (selectPage)="getPage($event)">
    </app-pagination>
    <div class="row justify-content-center">
        <div class="col col-lg-2" *ngFor="let url of urlsSlice">
            <app-item-card [url]="url"></app-item-card>
        </div>
    </div>
</ng-container>

<ng-template #nodata>
    <div class="text-center mt-5 mb-1">
        <i class="bi bi-emoji-expressionless-fill fs-pire-gros"></i>
        <p>Nothing to see here...</p>
    </div>
</ng-template>
