<h2 class="text-center mt-3">Characters</h2>

<div class="text-center">
    <i (click)="toggle('search')" class="bi bi-search fs-3 me-3" style="cursor: pointer" title="search"></i>
    <i (click)="reset(true)" class="bi bi-trash3-fill fs-3" style="cursor: pointer" title="reset"></i>
</div>

<!-- SEARCH FORMULAR -->
<div class="bg-light border p-3" id="search" collapsed>
    <app-character-search
        [params]="params"
        (search)="search($event)"
        (clear)="reset()">
    </app-character-search>
</div>

<!-- LIST OF CHARACTERS -->
<div *ngIf="items$ | async as characters; else loading">
    <ng-container *ngIf="characters.length; else nodata">

        <!-- PAGINATION -->
        <app-pagination
            [pagination]="pagination$ | async"
            (selectPage)="search({ page: $event })">
        </app-pagination>

        <div class="row justify-content-center g-3">
            <div class="col-sm-4 col-lg-2" *ngFor="let character of characters">
                <app-item-card [url]="character.url"></app-item-card>
            </div>
        </div>

    </ng-container>
</div>

<ng-template #loading>
    <div class="text-center mt-5 mb-1">
        <i class="bi bi-emoji-dizzy-fill fs-pire-gros animation-rotate mb-1"></i>
        <p>Loading...</p>
    </div>
</ng-template>

<ng-template #nodata>
    <div class="text-center">
        <i class="bi bi-emoji-expressionless-fill fs-pire-gros"></i>
        <p>Nothing to see here...</p>
    </div>
</ng-template>