<header class="bg-dark py-3">
    <div class="container-xl">
        <p *ngIf="!!getUsername();" class="text-center text-light">Welcome {{ getUsername() }} ! <a class="text-light" href="#" (click)="logout()">Logout</a></p>
        <h1 class="text-white text-center">An Api Of Ice & Fire</h1>
        <nav id="main-nav" class="navbar navbar-expand navbar-dark">
            <ul class="navbar-nav text-center">
                <li class="nav-item text-center">
                    <a [routerLink]="['']" class="nav-link px-4" [ngClass]="{ 'active': getActivePage() === 'home' }"> <i class="bi bi-house-door-fill icon-md"></i> <br> Home </a>
                </li>
                <li class="nav-item text-center">
                    <a [routerLink]="['books']" class="nav-link px-4" [ngClass]="{ 'active': getActivePage() === 'books' }"> <i class="bi bi-book icon-md"></i> <br> Books </a>
                </li>
                <li class="nav-item text-center">
                    <a [routerLink]="['/characters']" class="nav-link px-4" [ngClass]="{ 'active': getActivePage() === 'characters' }"> <i class="bi bi-file-person-fill icon-md"></i> <br> Characters </a>
                </li>
                <li class="nav-item text-center">
                    <a [routerLink]="['/houses']" class="nav-link px-4" [ngClass]="{ 'active': getActivePage() === 'houses' }"> <i class="bi bi-shield-shaded icon-md"></i> <br> Houses </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="container-xl mb-120">
    <router-outlet></router-outlet>
</div>

<footer class="bg-dark py-3 mt-5">
    <div class="container-xl">
        <p class="text-secondary text-center">
            <a class="text-secondary" href="https://anapioficeandfire.com/" target="_blank">https://anapioficeandfire.com/</a> &nbsp;
            | &nbsp; <a class="text-secondary" href="https://www.hbo.com/game-of-thrones" target="_blank">https://www.hbo.com/game-of-thrones</a>
        </p>
    </div>
</footer>
