<div class="row mt-5">
    <div class="col-sm-12 col-lg-6 offset-lg-3">
        <form name="login" id="login" (ngSubmit)="login()">
            <label for="username">Usernanme</label>
            <input class="form-control" type="text" name="username" id="username" [(ngModel)]="username" />
            <br>
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" [(ngModel)]="password" />

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">login</button>
            </div>
        </form>
    </div>
</div>