<div class="card item">
    <ng-container *ngIf="item$ | async as item; else loading">
        <div class="bg-light">
            <img src="{{ getImage() }}" class="card-img-top p-5 border-bottom" alt="item">
        </div>
        <div class="card-body text-center">
            <h5 class="card-title one-line" title="{{ item.name }}">{{ getName(item) }}</h5>
            <p class="card-text one-line"><i>{{ getBlob(item) || '&nbsp;' }}</i></p>
            <div class="text-center">
                <button class="btn btn-primary" [routerLink]="[route]">view details</button>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #loading>
    <img src="{{ getImage() }}" class="card-img-top p-5 border-bottom" alt="item">
    <div class="card-body text-center">
        <i class="bi bi-emoji-dizzy-fill fs-1 animation-rotate"></i>
        <p>Loading...</p>
    </div>
</ng-template>