<div *ngIf="item$ | async as item; else loading">

    <section>
        <div class="text-center mt-3"><img alt="book" src="/assets/book.png" width="100px" /></div>
        <h2 class="text-center mt-3">{{ item.name }}</h2>
        <p class="text-center mb-5"><i>by</i> {{ item.authors.join(', ') }}</p>

        <hr class="mb-4">

        <!-- BOOK DATA LIST -->
        <div class="row">
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Released</dt>
                    <dd>{{ item.released | date }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Country</dt>
                    <dd>{{ item.country }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Publisher</dt>
                    <dd>{{ item.publisher }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Media type</dt>
                    <dd>{{ item.mediaType }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Number of pages</dt>
                    <dd>{{ item.numberOfPages }}</dd>
                </dl>
            </div>
            <div class="col-sm-4 col-lg-2">
                <dl>
                    <dt>Isbn</dt>
                    <dd>{{ item.isbn }}</dd>
                </dl>
            </div>
        </div>
    </section>

    <hr class="mt-3">

    <section class="mt-5">
        <h3 class="text-center">Characters ({{ item.characters?.length || '-' }})</h3>
        <app-item-list [pageSize]="6" [urls]="item.characters"></app-item-list>
        <hr class="mt-5">
    </section>


    <section class="mt-5">
        <h3 class="text-center">Pov Characters ({{ item.povCharacters?.length || '-' }})</h3>
        <app-item-list [pageSize]="6" [urls]="item.povCharacters"></app-item-list>
        <hr class="mt-5">
    </section>

</div>

<ng-template #loading>
    <div class="text-center mt-5 mb-1">
        <i class="bi bi-emoji-dizzy-fill fs-pire-gros animation-rotate mb-1"></i>
        <p>Loading...</p>
    </div>
</ng-template>
