@import "~bootstrap-icons/font/bootstrap-icons.css";

/*
    layout
*/

nav#main-nav {
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mb-120 {
    margin-bottom: 120px;
}

/*
    search collapse/expand
*/

#search {
    display: block;
    overflow: hidden;
}

#search[collapsed] {
    display: none;
}

/* 
    text utils
*/

.fs-pire-gros {
    font-size: 5rem;
}

.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon-md {
    font-size: 32px;
}

/*
    loading icon + animation
*/

.animation-rotate {
    display: inline-block;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/*
    cards / items
*/

.card-category {
    width: 50%;
    margin: 25%;
}

.card.item {
    &:hover {
        transform: scale(1.05);
        border-color: #6c757d;
    }
}
