<fieldset>
    <h3>Search</h3>

    <div class="row">
        <div class="col-sm-12 col-lg-6">

            <!-- NAME -->
            <div class="mb-3 row">
                <label for="inputName" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="inputName" id="inputName" [(ngModel)]="params['name']" />
                </div>
            </div>

            <!-- CULTURE -->
            <div class="mb-3 row">
                <label for="inputCulture" class="col-sm-4 col-form-label">Culture</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="inputCulture" id="inputCulture" [(ngModel)]="params['culture']" />
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-lg-5 offset-lg-1">

            <!-- GENDER -->
            <div class="mb-3 row">
                <div class="col-sm-4">
                    <label class="form-check-label" for="inputGender1">Gender</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputGender" id="inputGender1" value="" [(ngModel)]="params['gender']" />
                        <label class="form-check-label" for="inputGender1">Any</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputGender" id="inputGender2" value="female" [(ngModel)]="params['gender']" />
                        <label class="form-check-label" for="inputGender2">Female</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputGender" id="inputGender3" value="male" [(ngModel)]="params['gender']" />
                        <label class="form-check-label" for="inputGender3">Male</label>
                    </div>
                </div>
            </div>

            <!-- IS ALIVE -->
            <div class="mb-3 row">
                <div class="col-sm-4">
                    <label class="form-check-label" for="inputAlive1">Alive</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputAlive" id="inputAlive1" value="" [(ngModel)]="params['isAlive']" />
                        <label class="form-check-label" for="inputAlive1">Any</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputAlive" id="inputAlive2" value="True" [(ngModel)]="params['isAlive']" />
                        <label class="form-check-label" for="inputAlive2">Alive</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputAlive" id="inputAlive3" value="False" [(ngModel)]="params['isAlive']" />
                        <label class="form-check-label" for="inputAlive3">Rip</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="button" (click)="onSearch()">search</button>
            <button class="btn btn-secondary ms-3" type="button" (click)="onReset()">reset</button>
        </div>
    </div>
</fieldset>
