<fieldset>
    <h3>Search</h3>

    <div class="row">
        <div class="col-sm-12 col-lg-6">

            <!-- NAME -->
            <div class="mb-3 row">
                <label for="inputName" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="inputName" id="inputName" [(ngModel)]="params['name']" />
                </div>
            </div>

            <!-- REGION -->
            <div class="mb-3 row">
                <label for="inputRegion" class="col-sm-4 col-form-label">Region</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="inputRegion" id="inputRegion" [(ngModel)]="params['region']" />
                </div>
            </div>

            <!-- WORD -->
            <div class="mb-3 row">
                <label for="inputWord" class="col-sm-4 col-form-label">Word</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="inputWord" id="inputWord" [(ngModel)]="params['word']" />
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-lg-5 offset-lg-1">

            <!-- HAS WORDS -->
            <div class="mb-3 row">
                <div class="col-sm-4">
                    <label class="form-check-label" for="inputHasWords1">Has words</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasWords" id="inputHasWords1" value="" [(ngModel)]="params['hasWords']" />
                        <label class="form-check-label" for="inputHasWords1">Any</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasWords" id="inputHasWords2" value="True" [(ngModel)]="params['hasWords']" />
                        <label class="form-check-label" for="inputHasWords2">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasWords" id="inputHasWords3" value="False" [(ngModel)]="params['hasWords']" />
                        <label class="form-check-label" for="inputHasWords3">No</label>
                    </div>
                </div>
            </div>

            <!-- HAS TITLES -->
            <div class="mb-3 row">
                <div class="col-sm-4">
                    <label class="form-check-label" for="inputHasTitles1">Has titles</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasTitles" id="inputHasTitles1" value="" [(ngModel)]="params['hasTitles']" />
                        <label class="form-check-label" for="inputHasTitles1">Any</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasTitles" id="inputHasTitles2" value="True" [(ngModel)]="params['hasTitles']" />
                        <label class="form-check-label" for="inputHasTitles2">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasTitles" id="inputHasTitles3" value="False" [(ngModel)]="params['hasTitles']" />
                        <label class="form-check-label" for="inputHasTitles3">No</label>
                    </div>
                </div>
            </div>

            <!-- HAS SEATS -->
            <div class="mb-3 row">
                <div class="col-sm-4">
                    <label class="form-check-label" for="inputHasSeats1">Has seats</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasSeats" id="inputHasSeats1" value="" [(ngModel)]="params['hasSeats']" />
                        <label class="form-check-label" for="inputHasSeats1">Any</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasSeats" id="inputHasSeats2" value="True" [(ngModel)]="params['hasSeats']" />
                        <label class="form-check-label" for="inputHasSeats2">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasSeats" id="inputHasSeats3" value="False" [(ngModel)]="params['hasSeats']" />
                        <label class="form-check-label" for="inputHasSeats3">No</label>
                    </div>
                </div>
            </div>

            <!-- HAS DIED OUT -->
            <div class="mb-3 row">
                <div class="col-sm-4">
                    <label class="form-check-label" for="inputHasDiedOut1">Has died out</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasDiedOut" id="inputHasDiedOut1" value="" [(ngModel)]="params['hasDiedOut']" />
                        <label class="form-check-label" for="inputHasDiedOut1">Any</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasDiedOut" id="inputHasDiedOut2" value="True" [(ngModel)]="params['hasDiedOut']" />
                        <label class="form-check-label" for="inputHasDiedOut2">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasDiedOut" id="inputHasDiedOut3" value="False" [(ngModel)]="params['hasDiedOut']" />
                        <label class="form-check-label" for="inputHasDiedOut3">No</label>
                    </div>
                </div>
            </div>

            <!-- HAS ANCESTRAL WEAPONS -->
            <div class="mb-3 row">
                <div class="col-sm-4">
                    <label class="form-check-label" for="inputHasAncestralWeapons1">Has ancestral weapons</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasAncestralWeapons" id="inputHasAncestralWeapons1" value="" [(ngModel)]="params['hasAncestralWeapons']" />
                        <label class="form-check-label" for="inputHasAncestralWeapons1">Any</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasAncestralWeapons" id="inputHasAncestralWeapons2" value="True" [(ngModel)]="params['hasAncestralWeapons']" />
                        <label class="form-check-label" for="inputHasAncestralWeapons2">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inputHasAncestralWeapons" id="inputHasAncestralWeapons3" value="False" [(ngModel)]="params['hasAncestralWeapons']" />
                        <label class="form-check-label" for="inputHasAncestralWeapons3">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="button" (click)="onSearch()">search</button>
            <button class="btn btn-secondary ms-3" type="button" (click)="onReset()">reset</button>
        </div>
    </div>
</fieldset>
